@{
    ViewBag.Title = "Registration Completed";
}

<h2>Registration Completed</h2>
<p>You have completed the registration process. You can now login to the system.</p>
<h3> You will be redirected to the login page shortly</h3>
<meta http-equiv="REFRESH" content="3;URL=login">