

@{
    ViewBag.Title = "RoleManagerIndex - SE Pantry.";
}

<h2>Welcome, Admin</h2>
@if (Roles.GetRolesForUser().Contains("Admin"))
{
    <br /><br />
    <ul class="nav nav-pills">
        <li class="active"><a>Admin Home</a></li>
        <li>@Html.ActionLink("Create Role", "RoleCreate", "RoleManager")</li>
        <li>@Html.ActionLink("RoleIndex", "RoleIndex", "RoleManager")</li>

       
        <li>@Html.ActionLink("Add Role To User", "RoleAddToUser", "RoleManager")</li>
       
        
    </ul>
}

