 
@{
    ViewBag.Title = "EmailSendSuccess";
}

<legend><h2>Email Send Successfull</h2></legend>

<h3>Emails have been sent to everyone successfully.</h3>

<style>
    footer {
        position: fixed;
    }
</style>