
@{
    ViewBag.Title = "RegisterConfirmation";
}

<legend><h2>Register Confirmation</h2></legend>
<h3>Error! Your Confirmation Token is not valid. </h3>
 <h3> Please contact us if you're having problem confirming your email account.</h3>

<style>
    footer {
        position: fixed;
    }
</style>