@{
    ViewBag.Title = "RegisterStepTwo";
}

<h2>Registration Instructions</h2>
<h3>To complete the registration process, please look for an email in your inbox that provides further instructions.</h3>
