@{
    ViewBag.Title = "RegisterStepTwo";
}

<legend><h2>Registration Instructions</h2></legend>
<h3>To complete the registration process, please follow the link in the email in your inbox that provides further instructions.</h3>
<style>
    footer{
        position: fixed;
    }
</style>