@{
    ViewBag.Title = "RegisterStepTwo";
}

<legend><h2>Registration Instructions</h2></legend>
<h4>To complete the registration process, please confirm your email by clicking on the activation link.</h4>
<style>
    footer{
        position: fixed;
    }
</style>