body {
  padding-top: 50px;min-height:75%;
}

.starter-template {
  padding: 30px 15px;
  text-align: center;
}
.navbara-header{max-height:60px;}
.navbar-inverse{background:#006f53;}
.content-start{margin-top:65px;}
.navbar-nav{float:right;}
.navbar-inverse .navbar-nav>li>a{
    color:#fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .25px; 
    display: inline-block;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    
}

.navbar-inverse .navbar-nav>li>a:hover{
    text-decoration:none;
    /*background: rgba(255, 255, 255, 0.31);*/
    color:  #dbb42f;
    /*border-radius: 8px;
    transition: background-color 0.45s ease-in-out, color 0.45s ease-in-out, border-bottom-color 0.45s ease-in-out;*/
}
.navbar-inverse .navbar-nav>li>a.current {
    text-decoration:none;
    background: #fff;
    color: #006f53;
    border-radius: 4px;
}

/*
.navbar-inverse .navbar-nav>li>a:active {
   -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: 0.03s;
  animation-duration: 0.03s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;

}*/

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border:none;}

footer{
    background:#006f53;
    bottom: 0px;
    color:#fff;
    width: 100%;
    padding: 10px;
	margin-top:25px;
    
}

.page{
    position: relative;
    bottom: 5px;
    padding: 2px;


}
.navbar-brand{
	float:none;
}
.navbar-nav > li > a{
	top:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.contact .label{color:#000;}
.bs-callout .label{color:#000;}
