body {
    padding-top: 50px;
    min-height: 75%;
}

.starter-template {
  padding: 30px 15px;
  text-align: center; 
 
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.page{
     text-align:center;
}

.navbara-header{max-height:60px;}
.navbar-inverse {
    padding-bottom: 15px;
    background: #006f54;
}
.content-start{
    margin-top:65px;
   -webkit-animation: fadein 0.75s;
}


.searchbox, .userbox {
    padding:8px 15px;
     background:rgba(203, 192, 192, 0.27);
    /*background:rgba(50, 50, 50, 0.2);*/
    border:0px solid #dbdbdb;
    width:25%;
}
.search {
    position:relative;
    padding: 8px 15px;
    left: -4px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

.loginButton, .registerButton{
    position:relative;
    padding: 8px 15px;
    margin-left:40px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

.search:hover, .loginButton:hover, .registerButton:hover{
    background-color:#1a96ff;
    color:#fafafa;
    transition: background-color 0.55s ease-in-out, color 0.55s ease-in-out, border-bottom-color 0.55s ease-in-out;
}
#MassEmailSub, #inRole1,#inRole2,#inRole3{
    margin-top: 5px;
    margin-left:61% ;
}
#inRole1{margin-left: 16% ;}#inRole2{margin-left: 26% ;}#inRole3{margin-left: 14.5% ;}#inRole4{margin-left: 19% ;}#inRole5{margin-left: -5px ;margin-top:45px}
.loginReg>li {
    margin-bottom:10px;
    padding-bottom:10px;
    list-style:none;
}
.navbar-nav{float:right;}
.navbar-inverse .navbar-nav>li>a{
    margin-top: 10px;
    padding-top:10px;
    padding-bottom:10px;
    color:#fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .25px;
    display: inline-block;   
    z-index:3; 
}

.navbar-inverse .navbar-nav>li>a:hover, .tableShaded>th>a:hover{
    text-decoration:none;
    color:  #dbb42f;
    transition: background-color 0.55s ease-in-out, color 0.55s ease-in-out, border-bottom-color 0.55s ease-in-out;
}

.navbar-inverse .navbar-nav>li>a.current {
    -webkit-animation: fadein 0.75s;
    text-decoration:none;
    background: #fff;
    color: #006f54;
    border-radius: 4px;
    /*box-shadow: 5px 8px 20px rgba(50, 50, 50, 0.71);  */ 
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border:none;}

footer{
    float: none;
    background: #006f54;
    bottom: 0px;
    color:#fff;
    width: 100%;
    padding: 10px;
	margin-top:25px;  
}
.tableShaded, .tableShaded tr {
    width: 100%;
}
.tableShaded{
    margin-bottom:20px;
}
.tableShaded tr:nth-child(even) {background: rgba(204, 204, 204, 0.27)}
.tableShaded tr:nth-child(odd) {background: #FFF}
.tableShaded tr:hover{background-color: rgba(0, 111, 84, 0.28);}
.tableShaded td, .tableShaded th{text-align: left;}
.tableShaded th, .tableShaded th>a, .tableShaded th>a:hover{
    font-size: 15px;
    font-weight: 400;
    height:40px;
    background-color: #006f54;
    border: none;
    text-decoration: none;
    color: white;
}
.tableShaded cap-name{text-transform: capitalize;}


.page{
    position: relative;
    bottom: 5px;
    padding: 2px;
    }
.navbar-brand{
	padding-top:5px;
}
.navbar-nav > li > a{
	top: -2px;
	padding-top: 15px;
	padding-bottom:5px;
}
.contact .label{color:#000;}
.bs-callout .label{color:#000;}
.userbox{
    margin-top:5px;
}
.userbox:focus, .userbox:active,
.searchbox:focus, .searchbox:active{
   background:rgba(50, 50, 50, 0.2)
  
}
#gmap_canvas {
    height:480px;
    width:600px; 
    float:right;
    padding-bottom:25px;
    border-radius:20px;
    margin-top: -3px;
    -webkit-animation: fadein 0.75s;
}
.checkbox{
    position: relative;
    display: inline-block;
  }
 .valid-summary-errors li{
	list-style:none;
}
 .scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
 .contactAll{
     float: left;
 }
