@{
    ViewBag.Title = "Southeastern Food Pantry";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div class="starter-template">

                <img src="~/Content/images/foodpantrylogo.jpg" style="height:10%;width:10%;" />
                <h1>Southeastern Louisiana University Food Pantry</h1>
                <p class="lead">Southeastern Louisiana University operates a food pantry for all its students. If you are in need
                of food, just drop by.</p>
                <p>All you need is a student ID card.</p>
            </div>
        </div>
    </section>
}

<style>
    footer{position:fixed;}
</style>